<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .pic{
            color: aliceblue;
            background-image: url('{% static "rain.jpg"%}');
        }
    </style>
</head>
<body>
    <div class="pic">這樣以後就遇到<br>
        填充題<br>
        django就知道要去哪裡找圖片填進去了<br>
        3. 所以填充題<br>
        要怎麼寫: 我們以換背景和字體來舉例<br>
        在index.html<br>
        的下面加上然後新增如下:
    </div>
</body>
</html>